
{{#each this}}
<section class="container">
    <h1 class="title">{{name}}</h1>
<div class="information">
<div class="details">    
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <ul class="languages-list">Languages: 
        {{#each languages}}
<li
class="language-item">{{name}}</li>
{{/each}}
    </ul>
    </div>
    <div>
    <img class="img-flag" src="{{flag}}" alt="flag">
</div>
</div>
</section>
{{/each}}


